.container {
    margin: 0 auto;
}
table {
    border-spacing: 0 0px;
    font:  bold 100% Arial, sans-serif;
    margin: 4px auto;
    text-align: center;
    vertical-align: middle;
    width: 50%;
}
h2 {
    font: bold 135% Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
}
form {
    font:  bold 100% Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
}
.value {
    text-align: left;
    font-style: normal;
}
.even-row {
    background: rgba(0, 0, 255, 0.15);
}
.odd-row {
    background: rgba(0, 0, 255, 0.1);
}
/*адаптив*/
@media screen and (max-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media screen and (max-width: 1199px) {
    .container {
        width: 960px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 720px;
    }
    table {
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 540px;
    }
    table {
        width: 90%;
    }
}

@media screen and (max-width: 575px) {
    .container {
        width: 100%;
        padding: 0 4px;
    }
    label {
        display: block;
    }
    table {
        width: 100%;
    }
}